beautifulsoup4
docx
docx2pdf
docx2txt
extra-streamlit-components
google-api-python-client
google-generativeai
langchain-community
langchain-core
langchain-huggingface
langchain-experimental
langchain-text-splitters
langchain-together
markdown-it-py
Markdown
markdownlit
numpy
opencv-python-headless
pandas
pdf2docx
PyPDF2
faiss-cpu
pytesseract
python_docx
python_pptx
rarfile
scikit_learn
spacy-legacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
spacy-loggers
spacy
SpeechRecognition
st-annotated-text
streamlit-authenticator
streamlit-camera-input-live
streamlit-card
streamlit-chat
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-tags
streamlit-toggle-switch
streamlit-vertical-slider
streamlit
textract
transformers
xlrd
